block alert
    if success && success.length
        .alert.alert-success.align-middle#success-alert
            = success
    if error && error.length
        .alert.alert-danger.align-middle#error-alert
            = error
