extends ../layouts/boilerplates.pug

block content
    .row 
        h2.text-center Edit Article 
        .col-6.offset-3.mt-2
            form#edit(action=`/article/${article.id}?_method=PUT` method='POST')
                input(type="hidden" value=article.id name='article[id]')
                // title
                .mb-3
                    h4
                        label.form-label(for='title') Title
                    input#title.form-control(value=article.title type='text' name='article[title]' autofocus='' required='')
                // content
                .mb-3
                    h4
                        label.form-label(for='content') Content
                    textarea#content.form-control(rows="10" name='article[content]' required='')=article.content
                    button.btn.btn-success.col-12.mt-3 Submit

            a.btn.btn-primary(href=`/article`) Return  
