extends ../layouts/boilerplates.pug

block content
    h1 article lists
    h2
        a(href='article/new' class="btn btn-primary") New
    ul 
        each article in articles
            li
                a(href=`article/${article.id}`)= article.title 