extends ../layouts/boilerplates.pug

block content
    .row
        h2.text-center New Article 

        .col-6.offset-3
            form#login(action='/article' method='POST')
                // title
                .mb-3
                    label.form-label(for='title') title
                    input#title.form-control(type='text' name='article[title]' autofocus='' required='')
                // content
                .mb-3
                    label.form-label(for='content') content
                    textarea#content.form-control(name='article[content]' required='' style="white-space: pre-line;")
                    button.btn.btn-success.col-12.mt-3 Create

            a.btn.btn-primary(href=`/article`) return  