@media (min-width: 500px) {
  .nav-bar,
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


/* 
@media (min-width: 1200px) {
  .main-header,
  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .row {
    width: 1200px;
    align-self: center;
  }
} */
