@media (min-width: 500px) {
  .main-header,
  .main-nav,
  .row {
    display: flex;
  }
  .main-header,
  .row {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .main-header,
  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .row {
    width: 1200px;
    align-self: center;
  }

}
