
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: sans-serif;
  border: solid black 3px;
}
@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
nav > ul {
  background-color: rgb(238, 238, 238);
  list-style: none; /* 移除項目符號 */
  margin: 0;
  padding: 0;
}

nav #icon {
  width: 50px;
  border: 1px solid #ddd;
}

nav a {
  color: inherit; /* 移除超連結顏色 */
  display: block; /* 讓 <a> 填滿 <li> */
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none; /* 移除超連結底線 */
}

nav .menu {
  display: flex;
  margin-left: auto;
}

/* 滑鼠移到 <a> 時變成深底淺色 */
nav li:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}

.flex-nav {
  display: flex;
  justify-content: left;
}
